#form-login {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
}

#form-register {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5%;
}

.input-path {
    width: 20%;
}

.btn-path {
    width: 20%;
}

.btn-chapter {
    width: 20%;
    border-radius: 2px;
    border-color: black;
}

.files {
    width: 20%;
}

.ya-alert {
    width: 20%;
}

.ya-success {
    width: 100%;
}

#my-disk {
    margin-top: 1%;
}

.accordion {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 7%;
}
