#form-login {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
}

#form-register {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5%;
}

#create_chapter {
    width: 30%;
    height: 100%;
}

#add_chapter {
    width: 100%;
}

#del_chapter {
    width: 100%;
}