<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    {% extends "base.html" %}

    {% block content %}

    {% if error %}
    <div class="alert alert-danger ya-alert" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <form method="post" action="/add_chapter">
        <input class="form-control input-path" placeholder="Раздел" name="add">
        <button type="submit" class="btn btn-secondary btn-path">Добавить раздел</button>
    </form>
    <form method="post" enctype="multipart/form-data" action="/add_file">
        <input class="form-control input-path" placeholder="Раздел" name="add_file">
        <input type="file" class="form-control input-path" name="file">
        <button type="submit" class="btn btn-secondary btn-path">Добавить файл</button>
    </form>
    <form method="post" action="/delete_chapter">
        <input class="form-control input-path" placeholder="/Раздел/Файл" name="del">
        <button type="submit" class="btn btn-secondary btn-path">Удалить</button>
    </form>
    <form method="post" action="/open_path">
        <input class="form-control input-path" placeholder="/Раздел/Файл" name="open_path">
        <button type="submit" class="btn btn-secondary btn-path">Открыть</button>
    </form>
    <div id="my-disk">
        <h5>Мой Яндекс.Диск:</h5>
    </div>
    <div id="chapters">

    {% for i in chapters %}
      <button type="button" class="btn btn-success btn-chapter">
          {{ i[0] }}
      </button>
    <div>

         <ul class="list-group files">
            {% for j in i[1] %}
              <li class="list-group-item">{{ j }}</li>
            {% endfor %}
          </ul>
        </div>

    {% endfor %}
    </div>

    {% endblock %}
</body>
</html>
